@import url("logo.css");
@import url("mission.css");
@import url(student-showcase.css);

@font-face {
    font-family:"Space_Grotesk";
    src: url("../fonts/Space_Grotesk/Space_Grotesk/");
}

@font-face {
    font-family:"Roboto";
    src: url("../fonts/Roboto/Roboto/");
}

@font-face {
    font-family:"Space_Mono";
    src: url("../fonts/Space_Mono/Space_Mono/");
}

* {
    box-sizing: border-box;
}

:root {
    /* colors */
    --background-blue: #001329;
    --title-orange: #EB5D34;
    --text-blue: #181932;
    --headings-blue: #292F6B;
    --background-stars: #FFFFF0;
}

body {
    /* INSPO: https://projects.verou.me/css3patterns/#starry-night */
    background-color: var(--background-blue);
    background-image: 
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px),
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px),
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px),
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 h2 {
    font-family: "Space_Grotesk";
}


h3 {
    font-family: "Roboto";
}


p {
    font-family: "Space_Mono";
}


