:root {
    /* colors */
    --background-blue: #001329;
    --title-orange: #EB5D34;
    --text-blue: #181932;
    --headings-blue: #292F6B;
    --background-stars: #FFFFF0;
}

* {
    box-sizing: border-box;
}

body {
    /* INSPO: https://projects.verou.me/css3patterns/#starry-night */
    background-color: var(--background-blue);
    background-image: 
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px),
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px),
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px),
    radial-gradient(var(--background-stars), rgba(255 255 255 / .2) 1px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

    /* ff zodat het scrollen te zien is */
    height: 300svh;
}





:root {
    --logo-width: 150px;
    --logo-padding: 2rem;
    --logo-opacity: 0.3;
}

.logo {
    position: fixed;
    left: 0;
    width: var(--logo-width);
    padding-inline: var(--logo-padding);
    z-index: 1000;
    animation-name: logoRight;
    animation-timeline: scroll();
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
    opacity: var(--logo-opacity);
}

@keyframes logoRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100vw - var(--logo-width)));
        /* transform: rotate(40deg); */
    }
}





@font-face {
    font-family:"Space_Grotesk";
    src: url("../fonts/Space_Grotesk/Space_Grotesk/");
}

@font-face {
    font-family:"Roboto";
    src: url("../fonts/Roboto/Roboto/");
}


@font-face {
    font-family:"Space_Mono";
    src: url("../fonts/Space_Mono/Space_Mono/");
}


h1 h2 {
    font-family: "Space_Grotesk";
}


h3 {
    font-family: "Roboto";
}


p {
    font-family: "Space_Mono";
}