:root {
    --logo-width: 150px;
    --logo-padding: 2rem;
    --logo-opacity: 0.3;
}

.logo {
    position: fixed;
    left: 0;
    width: var(--logo-width);
    padding-inline: var(--logo-padding);
    z-index: 1000;
    animation-name: logoRight;
    animation-timeline: scroll();

    /* to be under nav bar: */
    top: 4rem;
}

.logo img {
    width: 100%;
    display: block;
    background-color: #FFFFFFBF;
    padding: 1rem 1rem 1rem .5rem;
    border-radius: 99rem;
}

@keyframes logoRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100vw - var(--logo-width)));
    }
}
