.satellite-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

/* div text to center left */
.company-text {
    width: 100%;
    max-width: 600px;
}

.company-text h2 {
    color: var(--title-orange);
}

.company-text p {
    color: var(--text-white);
}

/* div company image to center right */
.company-image {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.company-image > img:nth-of-type(1) {
    display: block;
    width: 100%;
    animation: hovering 10s infinite;
}

/* hotspot */
.satellite-company details {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid var(--title-orange);
    transition: all 0.3s ease;
    cursor: pointer;
}

.satellite-company summary {
    list-style: none; /* deletes the detail traingle */
    width: 100%;
    height: 100%;
    cursor: pointer; /* transforms the curser to a clickable one */
}

/* icon */
.satellite-company summary::before {
    content: "+"; /* makes sure the + can be transformed in a x bron: chatpgt */ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--title-orange);
    font-size: 1.4rem;
    font-weight: bold;
}

/* if details is open */
.satellite-company details[open] {
    color: var(--headings-blue);
    width: 220px;
    height: auto;
    border-radius: 15px;
    padding: 1rem;
    z-index: 10;
    opacity: 1;
}

.satellite-company details[open] img {
    max-width: 100%;
    height: auto;
}

.satellite-company details[open] summary::before {
    content: "×"; /* replaces the + for a x in the summary */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* positions of the details */
.detail-1 {
    top: 12%;
    left: 18%;
}

.detail-2 {
    top: 20%;
    right: 23%;
}

.detail-3 {
    bottom: 22%;
    left: 20%;
}

.detail-4 {
    bottom: 25%;
    right: 30%;
}

@media (min-width: 900px) {
    .satellite-company {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;
        max-width: 1200px;

        /* dit maakt scroll mogelijk */
        min-height: 180vh;
    }

    .company-text {
        flex: 1;
        max-width: 500px;

        position: sticky; /* zorgt ervoor dat ze op het op ze plek blijft */
        top: 0;
        height: 100vh;

        display: flex; 
        flex-direction: column;
        justify-content: center; /* zorgt ervoor dat alle info in het midden gecentreerd blijft */
    }

    .company-image {
        flex: 1;
        max-width: 500px;

        position: sticky; /* zorgt ervoor dat ze op hun plek blijft */
        top: 0;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .detail-1 {
        animation: revealHotspot both;
        animation-timeline: view();
        animation-range: entry 30% cover 50%;
    }

    .detail-2 {
        animation: revealHotspot both;
        animation-timeline: view();
        animation-range: entry 40% cover 60%;
    }

    .detail-3 {
        animation: revealHotspot both;
        animation-timeline: view();
        animation-range: entry 50% cover 70%;
    }

    .detail-4 {
        animation: revealHotspot both;
        animation-timeline: view();
        animation-range: entry 60% cover 80%;
    }
}

/* ANIMATIES */

/* image hovering animation */
@keyframes hovering {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* hotspot reveal animation */
@keyframes revealHotspot {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(20px); /* zorgt ervoor dat de hotspots kleiner beginnen en groter worden */
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}