.flying {
    position: fixed;
    right: 0;
    bottom: 150px;
    animation: goingUp 6s linear infinite,
                delay-animation 40s linear infinite;
}

.flying img {
    width: clamp(100px, 20vw, 200px);
}

@keyframes goingUp {
    from {
        transform: translateY(120vh);
    }
    to {
        transform: translateY(-120vh);
    }
}

@keyframes delay-animation {
    from {
        transform: translateY(120vh);
    }
    to {
        transform: translateY(-120vh);
    }
}